/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
} 
 */

 
.box {
  border: ridge 5px black hidden;
  border-radius: 7px;
  /* padding-top: 8vh; */
}

.flight_input{
  padding: 10px 5px 10px 5px;
  border: solid 3px darkorange;
  border-radius: 7px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orange;
} 

.flight_result{
  padding: 1% 1% 1% 1%;
  margin-top: 10px;
  
  border: solid 3px darkorange;
  border-radius: 7px;
  text-align: center;
  background-color: orange;
  
}

.flight_cheap{
  width: 70vw;
  padding: 1% 1% 1% 1%;
  border: solid darkblue 2px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Arial';
  background-color: white;
}

.flight_nonstop{
  width: 70vw;
  padding: 1% 1% 1% 1%;
  border: solid darkblue 2px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.5%;
  font-family: 'Arial';
  background-color: white;
  
}

.component {
  padding : 10px 10px 10px 10px;
  border: solid 3px darkblue ;
  border-radius: 7px;
  margin: 0 auto;
  width: 85%; 
  margin-bottom: 10px;
  background-color: darkblue;
}

.input {
  width: 300px;
}




/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


/* CSS */
.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background: #00bd68;
}